{{#link-to 'datos.diccionario' class="pull-right btn-lg hidden-xs"}}<i class="icon-py-manual"></i> Ver diccionario{{/link-to}}
<h1>Establecimientos escolares</h1>
<br>

<div class="table-responsive">
   <table class="table table-small-font table-bordered table-striped">
   		<thead>
   			<tr>
				<th data-priority="1"> 
					<span data-titulo="true" class="hidden">Mapa</span>
				</th>

				<th data-priority="1">
					<span data-titulo="true">Período</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <span class="input-group-addon">
					  	<select class="form-control input-sm comparador">
						  <option></option>
						  <option>=</option>
						  <option>&gt;</option>
						  <option>&lt;</option>
						</select>
					  </span>
					  <input type="number" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>

				<th data-priority="1">
					<span data-titulo="true">Código Establecimiento</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>

				<th data-priority="2">
					<span data-titulo="true">Departamento</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					<span data-titulo="true">Distrito</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					<span data-titulo="true">Zona</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="3">
					<span data-titulo="true">Barrio/localidad</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="3">
					<span data-titulo="true">Dirección</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					<span data-titulo="true">Programa</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					<span data-titulo="true">Proyecto 111</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<select class="form-control input-sm">
						<option></option>
						<option>Sí</option>
						<option>No</option>
					</selec>
				</th>
				
				<th data-priority="2">
					<span data-titulo="true">Proyecto 822</span>
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<select class="form-control input-sm">
						<option></option>
						<option>Sí</option>
						<option>No</option>
					</selec>
				</th>
			</tr>
   		</thead>
   		<tbody>
   			{{#each dato in model}}
   				<tr>
   					<td class="acciones">
						{{#if dato.localizacion}}
							<a href="Javascript:void(0)" onclick="abrirMapa();"
								data-latitud="{{unbound dato.localizacion.latitud}}"
								data-longitud="{{unbound dato.localizacion.longitud}}">
								<i class="fa-lg icon-py-mapa"></i>
							</a>
						{{/if}}
					</td>
   					<td>{{dato.periodo}}</td>
					<td>
						{{#link-to 'uri.establecimiento'}}
							{{dato.codigo_establecimiento}}
						{{/link-to}}
					</td>
					<td>{{dato.departamento}}</td>
					<td>{{dato.distrito}}</td>
					<td>{{dato.zona}}</td>
					<td>{{dato.barrio_localidad}}</td>
					<td>{{dato.direccion}}</td>
					<td>{{dato.programa}}</td>
					<td>{{dato.proyecto111}}</td>
					<td>{{dato.proyecto822}}</td>
   				</tr>
   			{{/each}}
   		</tbody>
   </table>
</div>

<div class="text-center">
	<nav>
	  <ul class="pagination">
	    <li><a href="#"><span aria-hidden="true">&laquo;</span><span class="sr-only">Previous</span></a></li>
	    <li><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li><a href="#"><span aria-hidden="true">&raquo;</span><span class="sr-only">Next</span></a></li>
	  </ul>
	</nav>
</div>

<div class="datos-abiertos">
	<p class="datos-logo">
	    <img alt="Datos Abiertos" src="images/datos_abiertos.jpg">
	</p>
	<p>Descargar Datos como:</p>
	<ul class="list-inline">
	    <li><a href="#"><i class="fa fa-fw fa-file-excel-o"></i> Descargar planilla</a></li>
	    <li><a href="#"><i class="fa fa-fw fa-file-o"></i> Archivo CSV</a></li>
	    <li><a href="#"><i class="fa fa-fw fa-file-pdf-o"></i> Archivo PDF</a></li>
	</ul>
</div>

<div class="fondo-mapa hidden">
	{{google-maps latitud="-25.279655" longitud="-57.6087641" simple="true"}}
	<div class="btn-toolbar" role="toolbar">
	  <div class="btn-group">
		<button class="atras btn btn-primary" onclick="cerrarMapa();">
			<i class="fa fa-arrow-left"></i> Volver
		</button>
	  </div>
	</div>
</div>