{{#link-to 'datos.diccionario' class="pull-right btn-lg hidden-xs"}}<i class="icon-py-manual"></i> Ver diccionario{{/link-to}}
<h1>Establecimientos escolares</h1>
<br>

<div class="table-responsive">
   <table class="table table-small-font table-bordered table-striped">
   		<thead>
   			<tr>
				<th data-priority="1"> </th>

				<th data-priority="1">
					Período
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>

				<th data-priority="1">
					Código Establecimiento
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>

				<th data-priority="2">
					Departamento
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					Distrito
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					Zona
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="3">
					Barrio/localidad
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="3">
					Dirección
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					Programa
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<div class="input-group input-group-sm">
					  <input type="text" class="form-control" placeholder="">
					  <span class="input-group-addon limpiar"><i class="fa fa-times"></i></span>
					</div>
				</th>
				
				<th data-priority="2">
					Proyecto 111
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<select class="form-control input-sm">
						<option></option>
						<option>Sí</option>
						<option>No</option>
					</selec>
				</th>
				
				<th data-priority="2">
					Proyecto 822
					
					<span class="orden">
						<i class="filtro fa fa-sort"></i>
						<i class="descendente fa fa-sort-desc"></i>
						<i class="ascendente fa fa-sort-asc"></i>
					</span>
					
					<select class="form-control input-sm">
						<option></option>
						<option>Sí</option>
						<option>No</option>
					</selec>
				</th>
			</tr>
   		</thead>
   		<tbody>
   			{{#each dato in model}}
   				<tr>
   					<td class="acciones">
						{{#if dato.localizacion}}
							<a href="Javascript:void(0)" 
								data-latitud="{{unbound dato.localizacion.latitud}}"
								data-longitud="{{unbound dato.localizacion.longitud}}">
								<i class="fa-lg icon-py-mapa"></i>
							</a>
						{{/if}}
					</td>
   					<td>{{dato.periodo}}</td>
					<td>
						<a href="http://datos.mec.gov.py/doc/establecimientos/{{unbound dato.codigo_establecimiento}}">{{dato.codigo_establecimiento}}</a>
					</td>
					<td>{{dato.departamento}}</td>
					<td>{{dato.distrito}}</td>
					<td>{{dato.zona}}</td>
					<td>{{dato.barrio_localidad}}</td>
					<td>{{dato.direccion}}</td>
					<td>{{dato.programa}}</td>
					<td>{{dato.proyecto111}}</td>
					<td>{{dato.proyecto822}}</td>
   				</tr>
   			{{/each}}
   		</tbody>
   </table>
</div>