<h1>Visualizaciones</h1>

<div id="visualizaciones" class="row">

  {{#each vista in model}}
      <div class="vista no-cargada col-sm-6 col-md-4">

        <div class="thumbnail well">

          <img src="{{unbound vista.imagen}}" alt="{{unbound vista.titulo}}" class="img-responsive enlace"  onclick="window.open('{{unbound vista.enlace}}','_self');">

          <div class="caption">

            <h3>
              {{vista.titulo}}

              <small>
                {{#if vista.blog}}
                  <span class="text-info">por la comunidad</span>
                {{else}}
                  <span class="text-danger">por el MEC</span>
                {{/if}}
              </small>
            </h3>

            <p>{{vista.descripcion}}</p>

            <p>
              <a href="{{unbound vista.enlace}}" class="btn btn-primary" role="button">Ir a la visualización</a>
              {{#if vista.blog}}
                <a href="{{unbound vista.blog}}" class="btn btn-default" role="button">Ver en el blog</a>
              {{/if}}
            </p>

          </div>

        </div>

      </div>
  {{/each}}

</div>
